<div class="grow"></div>
<nav class="pagination-single">
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="pagination-single__left">
      <div class="pagination-single__icon">
        {{ partial "svgs/arrow/arrow-back.svg" (dict "width" 25 "height" 25) }}
      </div>
      <div class="pagination-single__left-title">{{ .Title }}</div>
    </a>
  {{ end }}
  <div class="grow"></div>
  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="pagination-single__right">
      <div class="pagination-single__right-title">{{ .Title }}</div>
      <div class="pagination-single__icon">
        {{ partial "svgs/arrow/arrow-forward.svg" (dict "width" 25 "height" 25) }}
      </div>
    </a>
  {{ end }}
</nav>