<article class="summary-card">
  <header>
    <h5 class="title h5"><a href='{{ .Permalink }}'>{{ .Title }}</a> </h5>
    <h6 class="subtitle caption">
      <time title="{{ i18n "tooltip-written" }}">{{ .Date.Format (i18n "summary-dateformat") }} </time>
      {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
        <time title="{{ i18n "tooltip-modified" }}"> &middot; {{ .Lastmod.Format (i18n "summary-dateformat") }} </time>
      {{ end }} 
    </h6>
  </header>
  <div class="summary-card__content">
    <div class="summary-card__text p2">
      {{ with .Params.description }}
      {{ . }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
    </div>
    {{ if $.Param "image" }}
    <div class="summary-card__image-wrapper">
      <a href="{{ .Permalink }}">
        <img data-src="{{ $.Param "image" | relURL }}" alt="{{ $.Param "image" }}" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23aaa' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4.44-6.19l-2.35 3.02-1.56-1.88c-.2-.25-.58-.24-.78.01l-1.74 2.23c-.26.33-.02.81.39.81h8.98c.41 0 .65-.47.4-.8l-2.55-3.39c-.19-.26-.59-.26-.79 0z'/%3E%3C/svg%3E" class="lazyload summary-card__image"/>
      </a>
    </div>
    {{ end }}
  </div>
  <hr />
</article>
