<div class="search-result" data-display="none">
  <div class="search-result__header">
    <div class="search-result__close">
      {{ partial "svgs/etc/cancel.svg" (dict "width" 28 "height" 28) }}
    </div>
  </div>
  <div class="search-result__body">
    <ul>
      <li class="search-result__item">
        <div class="search-result__item--title">
        </div>
        <div class="search-result__item--desc">
        </div>
      </li>
    </ul>
  </div>
</div>