{{ if $.Param "enableSearch" }}
<div class="mobile-search__btn navbar-search">
  {{ partial "svgs/etc/search.svg" (dict "width" 22 "height" 22) }}
</div>

<div id="search-mobile-container" class="mobile-search hide">
  <div class="mobile-search__top">
    <input id="search-mobile" type="text" aria-label="Mobile Search" placeholder="{{T "search-placeholder"}}" class="mobile-search__top--input"/>
    <div id="search-mobile-close" class="mobile-search__top--icon">
      {{ partial "svgs/etc/cancel.svg" (dict "width" 22 "height" 22) }}
    </div>
  </div>
  <div id="search-mobile-results" class="mobile-search__body">
    
  </div>
</div>
{{ end }}