.related {
  margin: 2rem auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 700px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 32px;
    
    @include themify($themes) {
      color: themed('related-header-title-color');
    }
  }

  &__link {
    font-size: 16.8px;
    font-family: $title-font;
    
    @include themify($themes) {
      color: themed('related-link-color');
    }
  }

  &-ul {
    align-self: center;
    list-style-type: disc;
  }
}
