.summary-card {
  padding: 1rem;
  
  .title {
    a {
      font-family: $title-font;
      font-weight: 700;
      word-break: break-word;

      @include themify($themes) {
          color: themed('title-color');
          @include on-event {
            color: themed('link-hover');
          }
      }
    }
  }

  .subtitle {
    @include themify($themes) {
      color: themed('meta-color');
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    margin-top: 1rem;
    line-height: 1.7rem;
  }

  &__image {
    width: 100%;
    height: 100%;

    &-wrapper {
      height: 100%;
      width: auto;
      margin: 0 auto;
      padding: 1rem;
      padding-bottom: 0;
    }
  }

  &__video {
    width: 100%;
    max-height: 500px;
    object-fit: contain;

    &-wrapper {
      padding: 1rem;
      padding-bottom: 0;
    }
  }

  hr {
    margin-top: 1.5rem;
    @include themify($themes) {
        border-top: 1px solid themed('hr-color');
    }
  }
  &:not(:last-child) {
    hr {
      margin-bottom: 2.5rem;      
    }
  }
  &:last-child {
    hr {
      margin-bottom: 2rem;
    }
  }
}

.summary-classic {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;

    a {
      font-family: $title-font;
      font-weight: 700;
      word-break:break-word;

      @include themify($themes) {
          color: themed('title-color');
          @include on-event {
            color: themed('link-hover');
          }
      }
    }
  }

  .subtitle {
    @include themify($themes) {
      color: themed('meta-color');
    }
  }

  &__flex-box {
    display: flex;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__content {
    width: 100%;
    padding: 0 0.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    margin-top: 1rem;
    line-height: 1.7rem;
  }

  &__image {
    &-container {
      border-radius: 0.25rem;
      padding: 0.25rem;
      margin-right: .5rem;

      &[data-hwm="true"] {
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }

      @include transition(all, 0.2s, ease-out);
      @include on-event {
        @include box-shadow(1px, 1px, 3px, 0px, rgba(0, 0, 0, 0.25));
        background-color: rgba(125, 125, 125, 0.1);
      }
    }
        
    &-wrapper {
      max-width: 130px;
      min-width: 130px;
      overflow: hidden;

      align-self: center;
      @media only screen and (max-width: 769px) {
        max-width: 90px;
        min-width: 90px;
      }
    }

    &-wrapper2 {
      height: 100%;
      margin: auto;
    }
  }

  hr {
    @include themify($themes) {
        border-top: 1px solid themed('hr-color');
    }
  }

  &:not(:last-child) {
    hr {
      margin-bottom: 1.5rem;      
    }
  }
  
  &:last-child {
    hr {
      display: none;
    }
  }

  &__tag {
    line-height: 0.8rem;
    padding: 0.25rem;
    margin: 0 0.2rem;
    cursor: pointer;

    @include themify($themes) {
      color: themed('body-color');
      background-color: themed('taxo-tags-background-color');
    }

    &--wrapper {
      display: inline-flex;
    }
  }
}

.summary-compact {
  padding: 0 1rem;

  .title {
    a {
      @include themify($themes) {
        color: themed('title-color');
        @include on-event {
          color: themed('link-hover');
        }
      }
    }
  }

  .subtitle {
    @include themify($themes) {
      color: themed('meta-color');
    }
  }
  
  &__flexbox {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__meta {
    padding: 1rem 0;
    overflow-wrap: break-word;
  }

  &__tag {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0.25rem;
    margin: 0.35rem 0.25rem 0;
    border: none;
    border-radius: 0.2rem;
    text-transform: capitalize;
    cursor: pointer;

    @include themify($themes) {
      color: themed('body-color');
      background-color: themed('taxo-tags-background-color');
    }

    &--wrapper {
      margin-top: 0.5rem;

      display: flex;
      flex-wrap: wrap;
    }
  }

  hr {
    @include themify($themes) {
        border-top: 1px solid themed('hr-color');
    }
  }
}
