.toc {
  width: 100%;
  max-width: $sidebar-width;
  position: fixed;
  overflow-y: auto;
  top: 7rem;
  font-size: 0.85rem;
  padding-left: 0.5rem;
  z-index: z("toc");

  @include themify($themes) {
    @include webkit-scrollbars(
      themed("custom-scrollbar-foreground-color"),
      themed("custom-scrollbar-background-color")
    );
    @include moz-scrollbars(themed("custom-scrollbar-foreground-color"), themed("custom-scrollbar-background-color"));
  }

  @include no-select;

  #TableOfContents {
    position: relative;
  }

  &__flexbox[data-position="fixed"] {
    display: flex;
    align-items: center;
    position: fixed;

    .toc__title {
      margin-top: 0.75rem;
      margin-left: 0.5rem;
    }
  }

  &__flexbox[data-position="absolute"] {
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__title {
    font-size: 0.9rem;
    margin-top: 0.5rem;

    @include themify($themes) {
      color: themed("toc-label-color");
    }
  }

  &[data-folding="true"] {
    @include themify($themes) {
      a {
        color: themed("toc-vertical-line");
        position: relative;
        padding-left: 0.25rem;

        &::before {
          content: "";
          height: 100%;
          left: -0.5rem;
          position: absolute;
          width: 2px;
          background-color: themed("toc-vertical-line");
          &:last-child {
            background-color: transparent;
          }
        }
      }

      .active {
        color: themed("toc-vertical-line-active");
        font-weight: 700;
        &::before {
          background-color: themed("toc-vertical-line-active");
        }
      }
    }
  }

  &[data-folding="false"] {
    @include themify($themes) {
      a {
        color: themed("toc-vertical-line");

        &.active {
          color: themed("toc-vertical-line-active");

          &::before {
            background-color: themed("toc-vertical-line-active");
            content: "";
            height: 0.95rem;
            left: -0.5rem;
            margin-top: 2px;
            position: absolute;
            width: 2px;
            &:last-child {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  ul {
    @include themify($themes) {
      li {
        li {
          margin-left: 1rem;
          color: themed("sidebar-li-color");
        }
      }

      a {
        color: themed("toc-title-color");
        &.active {
          color: themed("toc-vertical-line-active");
        }
      }
    }
  }
}
