.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.capitalize {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.grow {
  flex-grow: 1;
}

.basicflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basicflex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
