<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head" . }}
    {{ partial "scripts" . }}    
</head>

<body id="root" class="theme__{{ .Site.Params.colorScheme }}">
    <div id="container">
        <div class="wrapper" data-type="{{ .Type }}" data-kind="{{ .Kind }}">
            {{ partial "navbar/site-nav" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "footer/site-footer" . }}
        </div>
    </div>
</body>

</html>
