{{ define "main" }}

<main class="main inner">
    <div class="list__main lm">
        <div class="summary__container" data-display="block">
            {{ $paginator := .Paginate (where .Pages "Type" .Type) }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>    

    {{ partial "sidebar/sidebar-home" . }}
</main>

{{ partial "script/sidebar-script" . }}
{{ end }}
