{{ define "main" }}

<main class="main inner">
    <div class="list__main lm">
        <header class="list__header">
            <h5 class="list__header--title capitalize h5">{{ .Title }}</h5>
        </header>
    
        <div class="list__header--desc p2">
            {{.Content}}
        </div>

        <div class="summary__container" data-display="block">
            {{ range .Paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>

    {{ partial "sidebar/sidebar-home" . }}
</main>

{{ partial "script/sidebar-script" . }}
{{ partial "script/taxo-script" . }}
{{ end }}
