{{ define "main" }}
<header class="header basicflex-column">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
</header>
<main class="main about">
  <article class="single__contents single__contents--about">
    {{ .Content }}
  </article>
</main>
<div class="hide">
  {{ partial "search/site-search" . }}
</div>
{{ partial "script/about-script" . }}
{{ end }}