#container {
  position: relative;
  
  display: flex;
  
  @include themify($themes) {
      color: themed('body-color');
      background-color: themed('backdrop-background-color');
      hr {
        border-color: themed('hr-color');
      }
  }
}

html {
  overflow-x: hidden;
}
