.sidebar {
  margin-top: 1rem;

  &-recent {
    padding: 0.25rem;

    &__title {
      font-family: $title-font;
      font-weight: 700;
      font-size: 0.95rem;

      @include themify($themes) {
        color: themed('sidebar-title-color');
        &:hover {
          color: themed('link-hover');
        }
      }
    }

    &__ul {
      margin-left: 0.25rem;
      li {
        text-indent: -0.4em;
        padding-left: 0.5em;
        &::before {
          padding-right: 0.125rem;
          font-size: 1rem;
          display: inline-block;
          content: "\2022";
        }
      }
    }

    &__a {
      font-family: $title-font;
      font-size: 0.95rem;
      @include themify($themes) {
        color: themed('sidebar-li-color');
      }
    }
  }

  &-hr {
    margin: 1.5rem 0;
  }

  &__menu {
    margin-top: $grid_navbar_height;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
  }
}

li.sidebar-recent {
  text-indent: -0.4em;
  padding-left: 0.5em;
  &::before {
    padding-right: 0.125rem;
    font-size: 1rem;
    display: inline-block;
    content: "\2022";
  }
}
