<div class="single__meta">
  <div class="single__infos">
    <time class="single__info" title="{{ i18n "tooltip-written" }}">{{ .Date.Format (i18n "single-dateformat") }} </time>
    {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) -}}
    &nbsp;&middot;&nbsp; <time class="single__info" title="{{ i18n "tooltip-modified" }}">{{ .Lastmod.Format (i18n "single-dateformat") }} </time>
    {{ end -}}
  </div>
  <ul class="single__tags caption">
  {{ range (.GetTerms "tags") -}}
    <li><a href="{{ .RelPermalink }}" class="single__tag" title="{{ .LinkTitle }}">#{{ .LinkTitle }}</a></li>
  {{ end -}}
  </ul>
</div>
