<meta charset="utf-8">
<title>{{ block "title" . -}}
    {{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}
{{- end }}</title>
<meta name="description" content="{{ $.Param "description" }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="{{ $.Scratch.Get "themeNavbarColor" | default "#fff" }}">
{{ hugo.Generator }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ $.Param "description" }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">

{{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
{{- $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
