<div class="navbar__menu">
  {{ $current := . }}
  {{ range .Site.Menus.main }}
  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
  {{ $active = or $active (eq .Name $current.Title) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Title)) }}
  {{ $active = or $active (eq (lower .URL) (lower $current.Type)) }}
  {{ if .HasChildren }}
  <div class="navbar__dropdown navbar__slide-down">
    <a href="{{ .URL | relLangURL }}" class="navbar__menu-item {{ if $active }}active{{ end }}">
      {{ safeHTML .Name }}
      {{ partial "svgs/arrow/keyboard-arrow-down.svg" (dict "width" 18 "height" 18) }}
    </a>
    <div class="navbar__dropdown--content">
      {{ range .Children }}
      <a href="{{ .URL | relLangURL }}" class="navbar__dropdown--item">{{ safeHTML .Name }}</a>
      {{ end }}
    </div>
  </div>
  {{ else }}
  <a href="{{ .URL | relLangURL }}" class="navbar__menu-item navbar__slide-down {{ if $active }}active{{ end }}">{{ safeHTML .Name }}</a>
  {{ end }}
  {{ end }}
</div>