<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar__brand">
    {{ if $.Param "logo" | default true }}
    <a href="{{ "/" | relLangURL }}" title="{{ i18n "tooltip-home" }}" rel="home" class="{{ if eq ($.Param "logoType") "long" }}navbar__long-link{{ else }}navbar__logo-link{{ end }}">
      <img src="{{ "/logo.png" | relURL }}" alt="Home" class="navbar__logo">
    </a>
    {{ else }}
    &nbsp;&nbsp;
    {{ end }}
    {{ if ne .Site.Params.logoType "long" }}
      <a href="{{ "/" | relLangURL }}" title="{{ i18n "tooltip-home" }}" rel="home" class="navbar__title-link">
        <h6 class="navbar__title">{{ .Site.Params.logoText }}</h6>
      </a>
    {{ end }}
  </div>

  {{ partial "navbar/nav-menu-mobile" . }}
  {{ partial "navbar/nav-menu" . }}
</nav>
