{{ define "main" }}
{{ $titleWrap := $.Param "titleWrap" }}

<main class="main archive">
  <div class="archive__container">
    {{ $filteredPages := .Site.RegularPages }}
    {{ range $.Param "notAllowedTypesInArchive" }}
      {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
    {{ end }}

  {{ if gt (len $filteredPages) 0 }}
    {{ $paginator := .Paginate ($filteredPages.GroupByDate ($.Param "archiveGroupByDate" | default "2006")) ($.Param "archivePaginate") }}
    {{ range ($paginator).PageGroups }}
      <span class="archive__key">{{ .Key }}</span>
      <ul class="archive__ul">
        {{ range .Pages }}
        <li class="archive__li">
          <span class="archive__meta">
            <span class="archive__date">{{ .Date.Format (i18n "archive-dateformat") }}</span>
          </span>
          <a href="{{ .Permalink }}" class="archive__title" data-title-wrap="{{ $titleWrap | default "wrap"}}">{{ .Title }}</a>        
        </li>
        {{ end }}
      </ul>
    {{ end }}
  {{ else }}
    {{ i18n "no-contents" | default "There is nothing to display" }}
  {{ end }}

  </div>
  <div class="grow"></div>
  {{ partial "pagination/pagination" . }}
  {{ partial "script/archive-script" . }}
</main>
{{ end }}
