.not-found {
  height: 100%;
  font-family: $title-font;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include themify($themes) {
    .title {
      color: themed('title-color');
    }

    .subtitle {
      color: themed('meta-color');
    }
  }
}
