$solarized: (
    footer-background-color: #EEE8D5,
    footer-color: #424242,
    link: #859900,
    link-hover: #268bd2,
    title-color: #cb4b16,
    meta-color: #B58900,
    body-color: #586e75,
    hr-color: #ffb300,
    body-background-color: #FDF7E3,
    backdrop-background-color: #DDD6C7,
    dropdown-border-top-color: lighten(#B58900, 10%),
    dropdown-item-active-background-color: #FBF1D1,
    dropdown-content-background-color: #fafafa,
    dropdown-item-hover-background-color: darken(#FBF1D1, 5%),
    dropdown-item-hover-color: #B58900,
    dropdown-item-color: #424242,    
    navbar-border-bottom-color: #eddc9f,
    navbar-background-color: #EEE8D5,
    navbar-mobile-background-color: darken(#EEE8D5, 2.5%),
    navbar-title-color: #586e75,
    navbar-title-hover-color: #B58900,
    navbar-title-active-color: #cb4b16,
    navbar-menu-hover-background-color: darken(#EEE8D5, 4%),
    navbar-dropdown-item-hover-color: #B58900,
    sidebar-title-color: #2aa198,
    sidebar-li-color: #B58900,
    taxo-title-color: #B58900,
    taxo-num-color: #268bd2,
    taxo-num-background-color: darken(#FBF1D1, 7%),
    taxo-tags-background-color: #fff9c4,
    taxo-tags-color: darken(#B58900, 7%),
    taxo-categories-background-color: #ffe0b2,
    taxo-categories-color: darken(#B58900, 7%),
    list-header-title-color: #424242,
    figcaption-color: #ffb300,
    figcaption-strong-color: #B58900,
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #424242,
    single-contents-title-color: #cb4b16,
    related-header-title-color: #424242,
    related-link-color: #2aa198,
    burger-menu-color: #586e75,
    social-icon-color: lighten(#586e75, 5%),
    social-icon-hover-color: darken(#586e75, 5%),
    pagination-link-color: #455a64,
    pagination-background-color: #FBF1D1,
    pagination-disabled-color: #bdbdbd,
    pagination-number-color: #455a64,
    terms-title-color: #cb4b16,
    terms-title-shadow-color: #455a64,
    terms-tags-color: lighten(#B58900, 5%),
    terms-categories-color: #cb4b16,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #268bd2,
    toc-header-background-color: #FBF1D1,
    toc-header-background-color-hover: darken(#FBF1D1, 3%),
    toc-body-background-color: #f9fbe7,
    search-placeholder-color: #B58900,
    search-color: #B58900,
    search-border-color: darken(#FBF1D1, 10%),
    search-border-outline-color: rgba(133, 153, 0, 0.2),
    search-border-active-color: lighten(#B58900, 10%),
    search-icon-color: #B58900,
    search-background-color: #FBF1D1,
    search-content-color: #B58900,
    search-content-background-color: #FBF1D1,
    search-hover-background-color: darken(#FBF1D1, 10%),
    search-highlight-color: #e53935,
    selection-color: #FCFCFA,
    selection-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-meta-color: #455a64,
    archive-key-background-color: #B58900,
    archive-type-background-color: darken(#FBF1D1, 12%),
    archive-hover-line-color: #FF6188,
    gtt-color: #B58900,
    gtt-background-color: #EEE8D5,
    gtt-hover-color: #cb4b16,
    gtt-hover-background-color: darken(#EEE8D5, 5%),
    switch-background-color: darken(#EEE8D5, 10%),
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
    gallery-mask-color: #424242,
    gallery-mask-background-color: rgba(241, 248, 233, 0.85),
    custom-scrollbar-foreground-color: #b0bec5,
    custom-scrollbar-background-color: #EEE8D5,
);
